luminosity 1
output outbjetefficiencies_2016.root
style cms

# # TTbar
# ../Submission/Outputs/TTTo2L2Nu_nom.root     	TTTo2L2Nu.root    88.29   1.00   bg
# ../Submission/Outputs/TTToHadronic_nom.root  	TTToHadronic.root   377.96	 1.00	bg
# ../Submission/Outputs/TTToSemiLeptonic_nom.root	TTToSemiLeptonic.root	365.34	 1.00	bg# 

# # Single top
# ../Submission/Outputs/ST_s-channel_4f_leptonDecays_nom.root		  		 ST_s-channel_4f_leptonDecays.root   3.680    1.00   bg
# ../Submission/Outputs/ST_t-channel_antitop_4f_inclusiveDecays_nom.root   ST_t-channel_antitop_4f_inclusiveDecays.root   80.95    1.00   bg
# ../Submission/Outputs/ST_t-channel_top_4f_inclusiveDecays_nom.root       ST_t-channel_top_4f_inclusiveDecays.root   136.02   1.00   bg
# ../Submission/Outputs/ST_tW_antitop_5f_inclusiveDecays_nom.root          ST_tW_antitop_5f_inclusiveDecays.root   38.06    1.00   bg
# ../Submission/Outputs/ST_tW_top_5f_inclusiveDecays_nom.root              ST_tW_top_5f_inclusiveDecays.root   38.06    1.00   bg# 
# 

# # Higgs
# ../Submission/Outputs/VBFHToBB_M-125_nom.root				VBFHToBB_M-125.root		 2.183			1.00	bg
# ../Submission/Outputs/ttH_HToZZ_4LFilter_M125_nom.root		ttH_HToZZ_4LFilter_M125.root		0.0001355	1.00	bg
# ../Submission/Outputs/GluGluHToBB_M125_nom.root				GluGluHToBB_M125.root		25.340		1.00	bg
# ../Submission/Outputs/WplusH_HToBB_WToQQ_M125_nom.root		WplusH_HToBB_WToQQ_M125.root		0.339		1.00	bg
# ../Submission/Outputs/WminusH_HToBB_WToQQ_M125_nom.root		WminusH_HToBB_WToQQ_M125.root		0.199		1.00	bg
# ../Submission/Outputs/ZH_HToBB_ZToQQ_M125_nom.root			ZH_HToBB_ZToQQ_M125.root		0.311		1.00	bg
# ../Submission/Outputs/ggZH_HToBB_ZToQQ_M125_nom.root		ggZH_HToBB_ZToQQ_M125.root		0.043		1.00	bg
# ../Submission/Outputs/bbHToBB_M-125_4FS_yb2_nom.root		bbHToBB_M-125_4FS_yb2.root		0.310		1.00	bg # 

# # TT+X
# ../Submission/Outputs/TTWJetsToLNu_nom.root				TTWJetsToLNu.root		0.2043		1.00	bg
# ../Submission/Outputs/TTWJetsToQQ_nom.root				TTWJetsToQQ.root		0.4062		1.00	bg
# ../Submission/Outputs/TTZToLLNuNu_M-10_nom.root			TTZToLLNuNu_M-10.root		0.2529		1.00	bg
# ../Submission/Outputs/TTZToQQ_nom.root					TTZToQQ.root		0.5297		1.00	bg
# ../Submission/Outputs/TTGJets_nom.root					TTGJets.root		3.6970		1.00	bg
# ../Submission/Outputs/TTTT_nom.root						TTTT.root		0.0090		1.00	bg	

# TTbar
../Submission/Outputs/TTTo2L2Nu_nom.root     	TTTo2L2Nu.root    		1.00	1.00   	bg
../Submission/Outputs/TTToHadronic_nom.root  	TTToHadronic.root 	 	1.00	1.00	bg
../Submission/Outputs/TTToSemiLeptonic_nom.root	TTToSemiLeptonic.root	1.00	1.00	bg

# Single top
../Submission/Outputs/ST_s-channel_4f_leptonDecays_nom.root		  		 ST_s-channel_4f_leptonDecays.root				1.00	1.00   bg
../Submission/Outputs/ST_t-channel_antitop_4f_inclusiveDecays_nom.root   ST_t-channel_antitop_4f_inclusiveDecays.root	1.00	1.00   bg
../Submission/Outputs/ST_t-channel_top_4f_inclusiveDecays_nom.root       ST_t-channel_top_4f_inclusiveDecays.root   	1.00	1.00   bg
../Submission/Outputs/ST_tW_antitop_5f_inclusiveDecays_nom.root          ST_tW_antitop_5f_inclusiveDecays.root   		1.00	1.00   bg
../Submission/Outputs/ST_tW_top_5f_inclusiveDecays_nom.root              ST_tW_top_5f_inclusiveDecays.root				1.00	1.00   bg


# Higgs
../Submission/Outputs/VBFHToBB_M-125_nom.root				VBFHToBB_M-125.root					1.00	1.00	bg
../Submission/Outputs/ttH_HToZZ_4LFilter_M125_nom.root		ttH_HToZZ_4LFilter_M125.root		1.00	1.00	bg
../Submission/Outputs/GluGluHToBB_M125_nom.root				GluGluHToBB_M125.root				1.00	1.00	bg
../Submission/Outputs/WplusH_HToBB_WToQQ_M125_nom.root		WplusH_HToBB_WToQQ_M125.root		1.00	1.00	bg
../Submission/Outputs/WminusH_HToBB_WToQQ_M125_nom.root		WminusH_HToBB_WToQQ_M125.root		1.00	1.00	bg
../Submission/Outputs/ZH_HToBB_ZToQQ_M125_nom.root			ZH_HToBB_ZToQQ_M125.root			1.00	1.00	bg
../Submission/Outputs/ggZH_HToBB_ZToQQ_M125_nom.root		ggZH_HToBB_ZToQQ_M125.root			1.00	1.00	bg
../Submission/Outputs/bbHToBB_M-125_4FS_yb2_nom.root		bbHToBB_M-125_4FS_yb2.root			1.00	1.00	bg

# TT+X
../Submission/Outputs/TTWJetsToLNu_nom.root				TTWJetsToLNu.root		1.00		1.00	bg
../Submission/Outputs/TTWJetsToQQ_nom.root				TTWJetsToQQ.root		1.00		1.00	bg
../Submission/Outputs/TTZToLLNuNu_M-10_nom.root			TTZToLLNuNu_M-10.root	1.00		1.00	bg
../Submission/Outputs/TTZToQQ_nom.root					TTZToQQ.root			1.00		1.00	bg
../Submission/Outputs/TTGJets_nom.root					TTGJets.root			1.00		1.00	bg
../Submission/Outputs/TTTT_nom.root						TTTT.root				1.00		1.00	bg
