luminosity 35920
output outDibosonBkgs_MC_2016.root
style cms


# Diboson
../Submission/Outputs/WWTo2L2Nu.root     							WWTo2L2Nu.root     10.480    1.00     bg
../Submission/Outputs/WWTo4Q.root									WWTo4Q.root		51.723    1.00     bg
../Submission/Outputs/WWToLNuQQ.root								WWToLNuQQ.root		43.530    1.00     bg
../Submission/Outputs/WpWpJJ_QCD.root								WpWpJJ_QCD.root		0.02612   1.00     bg
../Submission/Outputs/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root		WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root		2.616     1.00     bg
../Submission/Outputs/GluGluWWTo2L2Nu_MCFM.root					    GluGluWWTo2L2Nu_MCFM.root		0.5906    1.00     bg
../Submission/Outputs/WZTo1L1Nu2Q.root							    WZTo1L1Nu2Q.root		10.730    1.00     bg
../Submission/Outputs/WZTo1L3Nu.root								WZTo1L3Nu.root		3.0540    1.00     bg
../Submission/Outputs/WZTo2L2Q.root								    WZTo2L2Q.root		5.6060    1.00     bg
../Submission/Outputs/WZTo3LNu.root								    WZTo3LNu.root		4.4300    1.00     bg
../Submission/Outputs/ZZTo2L2Nu.root								ZZTo2L2Nu.root		0.5644    1.00     bg
../Submission/Outputs/ZZTo2L2Q.root								    ZZTo2L2Q.root		3.2220    1.00     bg
../Submission/Outputs/ZZTo2Q2Nu.root								ZZTo2Q2Nu.root		4.0330    1.00     bg
../Submission/Outputs/ZZTo4L.root									ZZTo4L.root		1.2560    1.00     bg
../Submission/Outputs/ZZTo4Q.root        							ZZTo4Q.root		6.842     1.00     bg


# VBS/VBF Diboson
../Submission/Outputs/WWJJToLNuLNu_EWK_noTop.root				WWJJToLNuLNu_EWK_noTop.root		0.3439		1.00	bg
../Submission/Outputs/WpWpJJ_EWK.root							WpWpJJ_EWK.root		0.02695		1.00	bg
../Submission/Outputs/ZZJJTo4L_EWK.root							ZZJJTo4L_EWK.root		0.0004454	1.00	bg
../Submission/Outputs/ZZJJ_ZZTo2L2Nu_EWK.root					ZZJJ_ZZTo2L2Nu_EWK.root		0.002971	1.00	bg
../Submission/Outputs/WLLJJ_WToLNu_EWK.root						WLLJJ_WToLNu_EWK.root		0.01762		1.00	bg
