luminosity 35920
output outttbarCR_mutauh_2016_VBF2_01_14_2022.root
style cms


# TTbar
../Submission/Outputs/TTTo2L2Nu.root     	t#bar{t}.root    88.29   1.00   bg
../Submission/Outputs/TTToHadronic.root  	t#bar{t}.root   377.96	 1.00	bg
../Submission/Outputs/TTToSemiLeptonic.root	t#bar{t}.root	365.34	 1.00	bg

../Submission/Outputs/TTWJetsToLNu.root				t#bar{t}.root		0.2043		1.00	bg
../Submission/Outputs/TTWJetsToQQ.root				t#bar{t}.root		0.4062		1.00	bg
../Submission/Outputs/TTZToLLNuNu_M-10.root			t#bar{t}.root		0.2529		1.00	bg
../Submission/Outputs/TTZToQQ.root				t#bar{t}.root		0.5297		1.00	bg
../Submission/Outputs/TTGJets.root				t#bar{t}.root		3.6970		1.00	bg
../Submission/Outputs/TTTT.root					t#bar{t}.root		0.0090		1.00	bg			

