luminosity 35920
output outttbarCR_mutauh_2016_VBF2_01_14_2022.root
style cms

../Submission/Outputs/VBF-EWKino_StauDominated_mN2-100_dM-5.root Signal_mN2-100_dM-5.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-200_dM-5.root Signal_mN2-200_dM-5.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-300_dM-5.root Signal_mN2-300_dM-5.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-400_dM-5.root Signal_mN2-400_dM-5.root  0.1  1.0   sig

../Submission/Outputs/VBF-EWKino_StauDominated_mN2-100_dM-30.root Signal_mN2-100_dM-30.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-200_dM-30.root Signal_mN2-200_dM-30.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-300_dM-30.root Signal_mN2-300_dM-30.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-400_dM-30.root Signal_mN2-400_dM-30.root  0.1  1.0   sig

../Submission/Outputs/VBF-EWKino_StauDominated_mN2-100_dM-50.root Signal_mN2-100_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-200_dM-50.root Signal_mN2-100_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-300_dM-50.root Signal_mN2-100_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-400_dM-50.root Signal_mN2-100_dM-50.root  0.1  1.0   sig

../Submission/Outputs/VBF-EWKino_StauDominated_mN2-100_dM-50.root Signal_mN2-100_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-150_dM-50.root Signal_mN2-150_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-200_dM-50.root Signal_mN2-200_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-250_dM-50.root Signal_mN2-250_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-300_dM-50.root Signal_mN2-300_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-350_dM-50.root Signal_mN2-350_dM-50.root  0.1  1.0   sig
../Submission/Outputs/VBF-EWKino_StauDominated_mN2-400_dM-50.root Signal_mN2-400_dM-50.root  0.1  1.0   sig
