luminosity 41530
# output outttbarCR_mutauh_2017_VBF2_01_18_2022.root
output outVBFSUSYSR_mutauh_OS_2017_ttbar_VBF2.root
style cms


# TTbar
../Submission/Outputs/TTTo2L2Nu.root     		   TTTo2L2Nu.root    88.29   1.00   bg
../Submission/Outputs/TTToHadronic.root  		   TTToHadronic.root   377.96	 1.00	bg
../Submission/Outputs/TTToSemiLeptonic.root		   TTToSemiLeptonic.root	365.34	 1.00	bg

# TTBar+X
../Submission/Outputs/TTWJetsToLNu.root				TTWJetsToLNu.root		0.2043		1.00	bg
../Submission/Outputs/TTWJetsToQQ.root				TTWJetsToQQ.root		0.4062		1.00	bg
../Submission/Outputs/TTZToLLNuNu_M-10.root			TTZToLLNuNu_M-10.root		0.2529		1.00	bg
../Submission/Outputs/TTZToQQ.root				TTZToQQ.root		0.5297		1.00	bg
../Submission/Outputs/TTGJets.root				TTGJets.root		3.6970		1.00	bg
../Submission/Outputs/TTTT.root					TTTT.root		0.0090		1.00	bg			






