luminosity 59740
output output.root
style cms

# Z+jets inclusive
../Submission/Outputs/DYJetsToLL_M-10to50.root	Z+Jets.root   18610.0		 1.00		bg 
../Submission/Outputs/DYJetsToLL_M-50.root		Z+Jets.root	6025.2	     1.00		bg

# W+jets
# Inclusive
../Submission/Outputs/WJetsToLNu.root            		W+Jets.root     61334.90       1.00     bg

