luminosity 59740
output outttbarCR_mutauh_2018_VBF2_01_18_2022.root
style cms

# Diboson
../Submission/Outputs/WWTo2L2Nu_NNPDF31.root     					WWTo2L2Nu.root     10.480		1.00	bg
../Submission/Outputs/WWTo4Q_NNPDF31.root							WWTo4Q.root		51.723		1.00	bg
../Submission/Outputs/WWToLNuQQ_NNPDF31.root						WWToLNuQQ.root		43.530		1.00	bg
../Submission/Outputs/GluGluToWWToENEN.root						GluGluToWWToENEN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToENMN.root						GluGluToWWToENMN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToENTN.root						GluGluToWWToENTN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToMNEN.root						GluGluToWWToMNEN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToMNMN.root						GluGluToWWToMNMN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToMNTN.root						GluGluToWWToMNTN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToTNEN.root						GluGluToWWToTNEN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToTNMN.root						GluGluToWWToTNMN.root 	0.0457		1.00 	bg
../Submission/Outputs/GluGluToWWToTNTN.root						GluGluToWWToTNTN.root 	0.0457		1.00 	bg
../Submission/Outputs/WpWpJJ_QCD.root								WpWpJJ_QCD.root		0.02615		1.00	bg
../Submission/Outputs/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root		WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root		2.616		1.00	bg
../Submission/Outputs/WWJJToLNuLNu_QCD_noTop.root					WWJJToLNuLNu_QCD_noTop.root		0.02615		1.00	bg
../Submission/Outputs/WZTo1L1Nu2Q.root							WZTo1L1Nu2Q.root		10.730		1.00	bg
../Submission/Outputs/WZTo1L3Nu.root								WZTo1L3Nu.root		3.0540		1.00	bg
../Submission/Outputs/WZTo2L2Q.root								WZTo2L2Q.root		5.6060		1.00	bg
../Submission/Outputs/WZTo3LNu.root								WZTo3LNu.root		4.4300		1.00 	bg
../Submission/Outputs/ZZTo2L2Nu.root								ZZTo2L2Nu.root		0.5644  	1.00	bg
../Submission/Outputs/ZZTo2L2Q.root								ZZTo2L2Q.root		3.2220		1.00	bg
../Submission/Outputs/ZZTo2Q2Nu.root								ZZTo2Q2Nu.root		4.0330		1.00	bg
../Submission/Outputs/ZZTo4L.root									ZZTo4L.root		1.2560		1.00	bg

# VBS/VBF Diboson
../Submission/Outputs/ZZJJTo4L_EWK.root					ZZJJTo4L_EWK.root		0.00044		1.00	bg
../Submission/Outputs/WpWpJJ_EWK.root					WpWpJJ_EWK.root		0.02696		1.00	bg
../Submission/Outputs/WWJJToLNuLNu_EWK_noTop.root		WWJJToLNuLNu_EWK_noTop.root		0.3452		1.00	bg
../Submission/Outputs/WLLJJ_WToLNu_EWK.root				WLLJJ_WToLNu_EWK.root		0.01628		1.00	bg

