luminosity 1
output outVBFSUSY_mutauh_OS_RunII_staudom_mN2-300_dM-50and75_BaselineSelections.root
style cms

../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/Signal_StauDom_mN2-300_dM-50.root         Signal_StauDom_mN2-300_dM-50.root	1.00 	1.00 	sig   
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/Signal_StauDom_mN2-300_dM-75.root         Signal_StauDom_mN2-300_dM-75.root	1.00 	1.00 	sig   

../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/EWK_V.root         EWK_V.root	1.00 	1.00 	bg   
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/Rares.root	      Rares.root        1.00    1.00    bg
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/QCD.root           QCD.root          1.00    1.00    bg
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/SingleTop.root     SingleTop.root    1.00    1.00    bg
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/VV.root            Diboson.root      1.00    1.00    bg       
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/W+Jets.root        W+Jets.root       1.00    1.00    bg
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/Z+Jets.root        Z+Jets.root       1.00    1.00    bg
../Backup/SignalOptimizationStudies/mutauh/OS/BaselineSels/RunII/ROOTFiles/tbar{t}.root      t#bar{t}.root     1.00    1.00    bg

